{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
        <title>First App</title>
    </head>
    <body>
        <h1>Hello this is index.html</h1>
        <img src="{% static 'images/car.jpg' %}" alt="example images" />
        <h2>Record lists</h2>
        {% if records %}
        <div>
            {% for record in records %}
            <div>
                <span>{{ record.name }}</span>
                <a href="{{ record.url }}">{{ record.url }}</a>
                <span>{{ record.date }}</span>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div>no records</div>
        {% endif %}
    </body>
</html>
